<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="icon" href="/static/assets/feather-logo.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Travel Memories</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark w3-animate-top">
        <div class="container">
            <a href="/" class="navbar-brand"><img class="travel-logo" src="{{ url_for('static', filename='/assets/feather-logo.png') }}" alt="travel logo">TravelMem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/about">About</a>
                    </li>
                    {% if session['user_id']%}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/logout">Logout</a>
                    </li>
                    {% endif %}
                    {% if not session['user_id'] %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="/login_page">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: black;" href="/register_page">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container w3-animate-left">
        <div class="card col-lg-6 mt-5">
            <div class="card-body">
                <h1>Share<br>Discover<br>Explore</h1>
                <h5>Share your travel memories while discovering new ones!</h5>
                {% if session['user_id'] %}
                <a href="/dashboard" class="btn btn-light">Share</a>
                {% else %}
                <a href="/login_page" class="btn btn-light">Share</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>